<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Create User</title>
</head>

<body>
    <% if (typeof msg !== 'undefined' && msg) { %>
      <script>alert("<%= msg %>");</script>
    <% } %>
  
  <div class="w-full h-full bg-zinc-900 p-10 text-white">
    <div class="nav mb-5">
      <a class="text-blue-500" href="/read">Read Users</a>
    </div>
    <h1 class="text-3xl mb-5">Create User</h1>
    <form action="/create" method="post">
      <input class="px-3 py-2 border-2 bg-transparent border-zinc-800 outline-none rounded-lg" name="name"
        placeholder="Name" type="text">
      <input class="px-3 py-2 border-2 bg-transparent border-zinc-800 outline-none rounded-lg" name="email"
        placeholder="Email" type="text">
      <input class="px-3 py-2 border-2 bg-transparent border-zinc-800 outline-none rounded-lg" name="image"
        placeholder="Image URL" type="text">
      <input class="px-3 py-2 bg-blue-500 rounded-lg ml-3" type="submit">
    </form>
  </div>
</body>

</html>